@import url(https://fonts.google.com/specimen/Poppins);
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.Main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: scroll;
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

.containerMain {
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  overflow: auto;
}

.contanerFourCards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  height: 100vh;
  overflow: visible;
  row-gap: 20px;
  justify-items: center;
}
.contanerFourCards div:nth-child(1) {
  width: 100%;
  height: 100%;
  grid-row: 1/2;
}
.contanerFourCards div:nth-child(2) {
  grid-row: 2/3;
  width: 280px;
  height: 175px;
}
.contanerFourCards div:nth-child(3) {
  grid-row: 3/4;
  width: 280px;
  height: 175px;
}
.contanerFourCards div:nth-child(4) {
  grid-row: 4/5;
  width: 280px;
  height: 175px;
}
.contanerFourCards div:nth-child(5) {
  grid-row: 5/6;
  width: 280px;
  height: 175px;
}

.containerCardTitle {
  display: grid;
  justify-items: center;
}
.containerCardTitle h1, .containerCardTitle p, .containerCardTitle h3 {
  text-align: center;
}
.containerCardTitle h1 {
  font-weight: 600;
  padding: 10px 0;
}
.containerCardTitle h3 {
  font-weight: 200;
  color: #4c4e61;
  font-size: 24px;
}
.containerCardTitle p {
  font-weight: 200;
  color: #a3a5ae;
  font-size: 14px;
  width: 90%;
}

.containerCard {
  padding: 20px 30px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0px 6px 10px -1px #7a7a7a;
  border-radius: 5px;
  background: #fafafa;
}
.containerCard h3, .containerCard p {
  text-align: left;
}
.containerCard h3 {
  font-weight: 600;
  font-size: 15px;
  color: #4c4e61;
}
.containerCard p {
  font-weight: 200;
  color: #a3a5ae;
  font-size: 14px;
  padding: 10px 0 20px 0;
  line-height: 1.5;
}
.containerCard img {
  width: 40px;
  height: 40px;
  float: right;
}

.cardBorderCyan {
  border-top: 4px solid #45d3d3;
}

.cardBorderRed {
  border-top: 4px solid #ea5353;
}

.cardBorderOrange {
  border-top: 4px solid #fcaf4a;
}

.cardBorderBlue {
  border-top: 4px solid #549ef2;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contanerFourCards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr;
    justify-items: center;
  }
  .contanerFourCards div:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .contanerFourCards div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .contanerFourCards div:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .contanerFourCards div:nth-child(4) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .contanerFourCards div:nth-child(5) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .contanerFourCards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .contanerFourCards div:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .contanerFourCards div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .contanerFourCards div:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .contanerFourCards div:nth-child(4) {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  .contanerFourCards div:nth-child(5) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}/*# sourceMappingURL=styles.css.map */